*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root{
    font-size:18px;
}


.bg{
    background-color: darkcyan;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items : center;
    overflow: hidden;
    position: relative;
}



.card{
    width: 400px;
    height: 450px;
    background-color:white;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.containerheader {
    background-image: url(../images/bg-pattern-card.svg);
    background-size: cover;
    height:150px;
}

.containerbody{
    padding: 0 20px 25px;
}

.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: -50px auto 30px auto;
}

.profile-image img{
    width: 100%;
    height: auto;
    display: block;
}


.name{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.age{
    margin-left: 5px;
    color: darkgrey;
    font-weight: bold;
}

.city{ 
    text-align: center;
    margin-bottom: 30px;
    color : darkgrey;
    font-size: 18px;

}


.cardfooter{
    border-top: 2px solid darkgrey;
    display: flex;
}

.cardfooter .datos{
    flex: 1;
    height:130px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.cardfooter .datos .black{
    font-size: 1.2rem;
    margin-bottom: 7px;
    
}

.cardfooter .datos .sub{
    font-size: .7rem;
    letter-spacing: 2px;
    color: darkgrey;
}

.bgcircles .circle1 , .bgcircles .circle2 {
    position: absolute;
}

.circle1{
 top: -300px;
 left:-175px;
}

.circle2{
    bottom: -300;
    right:-175px;
}



